body {
    margin: 0;
    padding: 0;
}

$wrapperwidth: 80%;
.wrapper {
    margin: 0 auto;
}

header {
    background-image: url(/IMG/navigation_background.png);
    height: 118.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo {
    padding-top: 1%;
}

nav {
    padding-top: 2%;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 18px;
    color: #777777;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info img {
    border: solid black 1px;
    margin: 0 20px 20px 0;
}